<div class="photo">
        <img class="img-polaroid instagram-photo" src="{{images.low_resolution.url}}" width="250" height="250">
    </a>
    {{!-- <img class="avatar" width="40" height="40" src="{{avatar}}" /> --}}
    {{!-- <span class="heart"><strong>{{count}}</strong></span> --}}
    {{!-- <span class="location">{{longitude}}, {{latitude}}</span> --}}
</div>

